BODY { font-family:arial; font-size:16px; padding-left:16px; padding-top:16px; }
TABLE { border-collapse: collapse; }
TD { border:dotted 1px black; }

.sTitreApplication { font-size:32px; line-height:26px; font-weight:bold; margin-top:0px; }
.sTitreSection { font-size:24px; line-height:24px; font-weight:bold; }
.sTitreSousSection { font-size:20px; line-height:20px; font-weight:bold; }

.sDroits { font-size:12px; }
.sGras { font-weight:bold; }
.sRouge { color:red; }