BODY { padding-left:5px; padding-top:5px; }
BODY, INPUT, SELECT { font-family:arial; font-size:16px; }

.sDivInfos        { width:450px; height:380px; border:solid 1px black; padding:20px;
                    padding-top:0px; float:left; margin-right:20px; margin-bottom:20px; }

.sDivActions      { width:962px; height: 25px; border:solid 1px black; text-align:center; padding:20px; margin-bottom:20px; clear:both; }
.sDivCombinaisons { width:962px; height:1375px; border:solid 1px black; padding:20px; padding-top:0px; margin-bottom:20px;}

.sTitreApplication { font-size:32px; line-height:32px;
                     font-weight:bold; margin-top:0px; }
.sTitreSection { font-size:24px; line-height:24px; font-weight:bold; }

.sAjustementMarge { margin-left:0px; }
.sDateTirage, .sNo, .sNomGroupe, .sNomJoueur,
.sMontant, .sNoTelephone { font-weight:bold; color:blue; }
.sDateTirage { width:100px; margin-top:10px;  }
.sDroite { text-align:right; }
.sDroits { font-size:12px }
.sEcartGauche { padding-left:20px; }
.sEcartHaut { margin-top:10px; }
.sExposant { font-size:16px; }
.sImage { width:200px; margin-left:260px; }
.sMessage { color:red; font-weight:bold; margin:5px; margin-left:20px; }
.sMontant { width:100px; }
.sNo { width:50px; margin:5px; }
.sNomGroupe { width:380px; margin-top:10px; }
.sNomJoueur { width:200px; margin:10px; margin-left:0px; }
.sNoTelephone {width:120px; margin-top:10px; }
.sRouge { color:red; }

/* Styles spécifiques au démonstrateur projet01.php */
.sAligneVerticalHaut { vertical-align:top; }
.sDivSortie { width:800px; padding-left:10px; padding-bottom:10px; margin:10px; margin-left:0px; border:solid 1px black; }
.sGagnant { font-weight:bold; border:solid 1px black; padding:5px; background-color:green; color:white; }
.sGras { font-weight:bold; }
.sHauteurLigne { line-height:30px; }
.sLogo { width:200px; }
.sPerdant { font-weight:bold; border:solid 1px black; padding:5px; background-color:red; color:white; }
.sSortie { color:blue; font-weight:bold; margin-bottom:20px; }
.sSortieNo { color:blue; font-weight:bold; border:solid 1px blue; padding:5px; padding-left:7px; }
.sSortiePart { color:blue; font-weight:bold; border:solid 1px white; padding-right:5px; }
.sSortiePartTotal { color:blue; font-weight:bold; border-top:solid 1px blue; padding:5px; margin-top:5px; }