BODY, INPUT { font-family:arial; font-size:16px; padding-left:15px; padding-top:15px; }
TABLE { border-collapse: collapse; }
TD { border:solid 1px black; padding:5px; }

.sTitreApplication { font-size:32px; line-height:26px; font-weight:bold; margin-top:0px; }
.sTitreSection { font-size:24px; line-height:18px; font-weight:bold; }

.sDroite { text-align:right; }
.sDroits { font-size:12px; }
.sEntete { background-color:lightgrey; }
.sFondBleu { background-color:blue; color:white; }
.sFondVert { background-color:lightgreen; }
.sGras { font-weight:bold; }
.sNonSouligne { text-decoration:none; }
.sPaiement { color:blue; width:80px; font-weight:bold; text-align:right; vertical-align:middle; height:15px; padding:1px; }
.sRouge { color:red; }
.sSansStyle { border:none; background-color:white; }