body { font-family:Arial, Helvetica, sans-serif; margin: auto; left: 0; right: 0;}
.sEntete {font-family:Arial Black; background-color:#232323; color:#FFFFFF; font-size: 15px;  border-style:solid; margin-top: -1%;padding-left:1%;margin-left: -1%;
         margin-right: -10px; top: 0; left: 0; right: 0;}
.sTitreApplication { font-size:30px; padding-left:4%; line-height: 5px;}
.sPiedPage{font-family: arial; margin-left: 4px}
.sNomUtilisateur { font-size:15px; float: right; padding-right: 3%;}
a:link { color:#FFFFFF; text-decoration:none; padding-left:4%; font-size: 15px; }
a:visited { color:Red; text-decoration:none;font-size: 15px;} 
a:hover { color:Green; text-decoration:none; font-size: 15px;}
footer{position: absolute; bottom: 0; left: 0; right: 0;font-family:Arial Black; background-color:#232323; color:#FFFFFF;font-size:12px;padding-left:4%; clear:both;}

.sAnnonceDetaillee{width: 1200px; padding-left: 20%; padding-top: 3%;}
.sAnnonceHaut{width: 1200px;}
.sAnnonceDetailleeHautGauche {float: left;width: 580px; height: 600px;}
.sAnnonceDetailleImage{ float: left; width: 600px;height: 600px;}
.sDetailleeTableau{width:580px; text-align: center; color: #18A3FA; border-style: solid; margin: 6pt;}
.sTitreCentree{text-align: center;}
.sEspaceTableau{padding-top: 5%;}
.sBordureDivision{border-style: solid; border: 5px; margin-left: 1%;}

/*
.sDivInfos        { width:450px; height:380px; border:solid 1px black; padding:20px;
                    padding-top:0px; float:left; margin-right:20px; margin-bottom:20px; }*/